:root {
    --primary-blue: #051681;
    --primary-pink: #eb4679;
    --secondary-blue: #d4e5ff;
    --secondary-pink: #ffccd9;
    --secondary-white: #f3edff;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: neulis-sans, sans-serif;
}

.site-header {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-inner {
    background-color: var(--primary-pink);
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.2rem 2rem;
    border-radius: 999px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    margin: 0;
    color: var(--secondary-white);
    font-size: 1.4rem;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.main-nav a {
    text-decoration: none;
    color: var(--secondary-white);
    font-weight: bold;
    transition: opacity 0.3s;
}

.main-nav a:hover {
    opacity: 0.7;
}

@media (max-width: 600px) {
    .header-inner {
        flex-direction: column;
        text-align: center;
        padding: 1rem 1.5rem;
    }

    .main-nav ul {
        flex-direction: column;
        gap: 1rem;
        margin-top: 0.5rem;
    }
}