:root {
    --primary-blue: #051681;
    --primary-pink: #eb4679;
    --secondary-blue: #d4e5ff;
    --secondary-pink: #ffccd9;
    --secondary-white: #f3edff;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-white);
    font-family: "inter-variable", sans-serif;
}

.site-header {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--secondary-white);
}

.header-inner {
    background-color: var(--primary-pink);
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.2rem 2rem;
    border-radius: 999px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-link img {
    height: 40px;
    width: auto;
    display: block;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.main-nav a {
    text-decoration: none;
    color: var(--secondary-white);
    font-weight: bold;
    transition: opacity 0.3s;
}

.main-nav a:hover {
    opacity: 0.7;
}

.logo-link img:hover {
    opacity: 0.8;
}

@media (max-width: 600px) {
    .header-inner {
        flex-direction: column;
        text-align: center;
        padding: 1rem 1.5rem;
    }

    .main-nav ul {
        flex-direction: row;
        gap: 1.5rem;
        margin-top: 1rem;
    }
}

.team-div {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 0 1.5rem;

    display: flex;
    gap: 3rem;
    align-items: center;
}

.team-img {
    flex: 2;
}

.team-img img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    display: block;
}

.team-content h2 {
    margin-top: 0;
    color: var(--primary-blue);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    font-family: "inter-variable", sans-serif;
}
.team-content {
    flex: 1;
}
.team-content p {
    line-height: 1.6;
    background-color: var(--secondary-white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    font-family: "inter-variable", sans-serif;
}
@media (max-width: 800px) {
    .team-div {
        flex-direction: column;
        text-align: center;
    }
}

.mission-heading h2 {
    font-size: 2rem;      
    color: var(--primary-blue);       
    text-align: center;               
    margin-bottom: 2rem;              
    font-weight: 700;                 
    letter-spacing: 1px;              
    position: relative;   
    font-family: "inter-variable", sans-serif;            
}

.missions-flex {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 1.5rem;

    display: flex;
    gap: 2rem;
}

.missions-flex > div {
    flex: 1;
    padding: 2rem;
    background-color: var(--secondary-blue);   
    border-radius: 1rem;                        
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);      
    transition: transform 0.3s, box-shadow 0.3s;
}


.missions-flex h3 {
    color: var(--primary-pink);
    font-family: "inter-variable", sans-serif;
}

.missions-flex p {
    line-height: 1.6;
    color: var(--primary-blue);
    font-family: "inter-variable", sans-serif;
}

@media (max-width: 800px) {
    .missions-flex {
        flex-direction: column;
        gap: 2rem;
    }

    .missions-flex > div {
        padding: 0;
    }

    .missions-flex > div h3, p {
        text-align: center;
    }
}

.koffer-div,
.workshops-div {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 1.5rem;
}

.koffer-heading h2,
.workshops-heading h2 {
    font-size: 2rem;
    color: var(--primary-blue);
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;
    font-family: "inter-variable", sans-serif;
}

.koffer-txt,
.workshops-txt {
    background-color: var(--secondary-white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.koffer-txt p,
.workshops-txt p {
    margin: 0;
    line-height: 1.7;
    font-family: "inter-variable", sans-serif;
}